<template lang="pug">
  div(class="card")
    div(v-for="(event, key) in stateEvents", :key="key" class="event")
      div(class="event__header") 
        p {{ event.name }}
      div(class="event__body")
        p {{ event.description_short }}
</template>

<script lang="ts">
  import {
    Component,
    Vue
  } from "nuxt-property-decorator"
  import { State, namespace } from "vuex-class"
  
  const events = namespace('events')
  
  @Component({
    created () {
      this.getEvents();
    }
  })
  export default class extends Vue {
    @events.Action('getEvents') getEvents
    @events.State('events') stateEvents
  }
</script>
<style lang="sass" scoped>

</style>
