<template lang="pug">
  nav
    ul(class="main-menu")
      li(class="main-menu__item menu-profile")
        div(ref="ava", class="menu-profile__ava")
        nuxt-link(:to="'/profile'", class="main-menu__item__link") {{stateProfile.fullname}}
      li(class="main-menu__item")
        nuxt-link(:to="'/messages'", class="main-menu__item__link") Сообщения
      li(class="main-menu__item")
        nuxt-link(:to="'/wall'", class="main-menu__item__link") Новости
      li(class="main-menu__item")
        a(class="main-menu__item__link") Поиск
      li(class="main-menu__item")
        a(class="main-menu__item__link") Мои события
      li(class="main-menu__item", @click="initEventCreation")
        a(class="main-menu__item__link") Создать событие
</template>

<script src="./ts/mainmenu.ts" lang="ts">
</script>

<style lang="sass" scoped>
  @import "~/assets/css/variables.sass"
  
  .main-menu
    list-style: none
    padding: 0
    margin: 0
    &__item
      background-color: $back-color
      cursor: pointer
      transition: background-color .5s
      text-align: center
      &:hover
        background-color: $back-color-active
      &__link
        text-decoration: none
        color: $main-font-color
        display: flex
        width: 100%
        height: 30px
        align-items: center
        padding-left: 30px
  .menu-profile
    &__ava
      background-size: cover;
      border-radius: 100px
      width: 200px
      height: 200px
      margin: auto
      margin-bottom: 20px
</style>
