@font-face {
  font-family: 'RubikRegular';
    src: url('../fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RubikLight';
    src: url('../fonts/rubik/Rubik-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RubikBold';
    src: url('../fonts/rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RubikMedium';
    src: url('../fonts/rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
