@import "./fonts.css"
@import "./variables.sass"

body
  font-family: "RubikRegular"
  font-weight: normal
  font-style: normal
  margin: 0

.container
  max-width: 1130px
  margin: auto
  padding-left: 15px
  padding-right: 15px
  box-sizing: border-box

.card
  position: absolute
  width: 30%
  max-width: 300px
  z-index: 1
  background-color: #fff
  height: 100%
