<template lang="pug">
  div(class="main-app container")
    aside
      MainMenu
    main
      nuxt-child(:item="$route.params.item")
      yandex-map(:coords="[54.62896654088406, 39.731893822753904]", 
                  zoom="10", 
                  style="width: 100%; height: 600px;",
                  v-if="showMap")
</template>


<script lang="ts">
import {
  Component,
  Vue
} from "nuxt-property-decorator"
import { State, Getter } from "vuex-class"
import MainMenu from "~/components/main/MainMenu.vue"

@Component({
  components: {
    MainMenu
  },
  data () {
    return {
      showMap: false
    }
  },
  mounted () {
    this.showMap = true
  }
})
export default class extends Vue {
  @State people
}
</script>
<style lang="sass" scoped>
  @import "~/assets/css/variables.sass"
  
  .main-app
    display: flex
    flex-wrap: wrap
  aside
    width: 300px
    background-color: $back-color
  main
    flex: 1
    position: relative
</style>
